@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "Teacher_Evalution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Info boxes -->

    <div class="row">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div style="border: 1px solid #d2d6de;">

                    <div class="ibox-title ">

                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Academics
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                    Time Management
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r3" name="r">
                                <label for="r3">
                                    Employee Attendance
                                </label>
                            </li>

                        </ul>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <form role="form" id="teacherAttendanceForm" name="teacherAttendanceForm">
                                <div class="row">
                                    @{
                                        var user_dtl = HttpContext.Current.Session["User_Dtl"] as List<MvcSchoolWebApp.Models.Users>;
                                        if (user_dtl[0].user_earea == "1000" || user_dtl[0].user_earea == "2000")
                                        {

                                            <div class="col-md-4">
                                                <div class="col-md-5">
                                                    <label>Campus</label>
                                                </div>
                                                <div class="col-md-7">
                                                    @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusTE", @id = "txtCampusTE", @required = true })

                                                </div>
                                            </div>
                                                <div class="col-md-4">
                                                    <div class="col-md-5">
                                                        <label>Employee Name</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @Html.DropDownListFor(model => model.studentid, Model.student, "Employee", new { @class = "form-control m-b", @name = "txtEmployeesTE", @id = "txtEmployeesTE", @required = true })

                                                    </div>
                                                </div>
                                        }
                                    }
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Pick a Month</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.month, "Month", new { @Value = ViewBag.date, placeholder = "Month", @class = "date-month form-control m-b", @name = "ViewAttendaceDateTE", @id = "ViewAttendaceDateTE" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <input id="teacherAttendanceGrid" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger form-submitbtn" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " style="border: 1px solid #d2d6de; display:none;" id="teacherattendanceGrid_div">
                <div class="ibox-content">
                    <div class="teacherattendanceView_jqGrid">
                        <table id="teacherattendanceView_table"></table>
                        <div id="pager_list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

