    
/*ul{
  margin: 0;
  padding: 0;
  list-style: none;border-top-right-radius:4px; border-top-left-radius:4px
}
input[type=radio]{display:none;}
#vert_menu{  background: #afab9d;  overflow: hidden;  width: 100%; }
#vert_menu li{  float: left;}
#vert_menu label{
  padding: 8px 20px 8px 40px;
  float: left; text-align:center;
  font: normal 16px Myriad Pro, Helvetica, Arial, sans-serif;  text-shadow:0px 1px 0px #000;
  position: relative; text-shadow:1px 0 0 #000;
    color: #e6e2cf;
  background-color: #525252; min-width:50px; width:auto
}
#vert_menu a:first-child{
   border-top-left-radius:4px
}
#vert_menu li:first-child label{  padding-left: 1em; }
#vert_menu label:hover{  background: #afab9d;}
#vert_menu label::after,
#vert_menu label::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -19px;   
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 1em solid;
  right: -1em;
}
#vert_menu label::after{   z-index: 2;  border-left-color: #525252;  }

#vert_menu label::before{
  border-left-color: #f8f5ee;  
  right: -1.1em;
  z-index: 1; 
}

#vert_menu label:hover::after{
  border-left-color: #afab9d;
}

#vert_menu input[type="radio"]:checked + label{
  background: #afab9d;
}
#vert_menu input[type="radio"]:checked + label::after {
    border-left-color: #afab9d;
}
#vert_menu li:last-child label::after {
    background: #afab9d;;
    border-left-color: #afab9d;;
}*/


/*changed changed  changed changed changed   */


ul{
  margin: 0;
  padding: 0;
  list-style: none;border-top-right-radius:4px; border-top-left-radius:4px
}
input[type=radio]{display:none;}

#vert_menu{  
    
    background: #fff;  overflow: hidden;  width: 100%; 
}

#vert_menu li{  float: left;}
#vert_menu label{
  padding: 8px 20px 8px 40px;
  float: left; text-align:center;
  font: normal 16px Myriad Pro, Helvetica, Arial, sans-serif;  text-shadow:0px 1px 0px #000;
  position: relative; text-shadow:1px 0 0 #000;
    color: #fff;
  background-color: #ca434d; min-width:50px; width:auto
}
#vert_menu a:first-child{
   border-top-left-radius:4px
}
#vert_menu li:first-child label{  padding-left: 1em; }

/*#vert_menu label:hover{  background: #afab9d;}*/
/*form active*/
#vert_menu label:hover {
      background: #b40000;
    color: #fff;
    
}

#vert_menu label::after,
#vert_menu label::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -19px;   
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 1em solid;
  right: -1em;
}
#vert_menu label::after{   z-index: 2;  border-left-color: #ca434d;  }

#vert_menu label::before{
  border-left-color: #f8f5ee;  
  right: -1.1em;
  z-index: 1; 
}

#vert_menu label:hover::after{
  border-left-color: #b40000;
}

#vert_menu input[type="radio"]:checked + label{
    color: #fff;
    background: #b40000;
}
#vert_menu input[type="radio"]:checked + label::after {
    border-left-color: #b40000;
}

/*#vert_menu li:last-child label::after {
    background: #ecf0f5;;
    border-left-color: #525252;;
}*/