@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "TeacherTimetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <!-- Info boxes -->

@*@using (Html.BeginForm())
{*@
    <div class="row">

        <div class="col-lg-12">


            <div class="ibox float-e-margins">
                <div id="dvborder">

                    <div class="ibox-title ">
                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Academics
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                    Timetable
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r3" name="r">
                                <label for="r3">
                                    Teacher Timetable
                                </label>
                            </li>

                        </ul>


                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <form role="form" id="teachertimetableform" name="teachertimetableform">
                                <div class="row ">

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Campus</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusTT", @id = "txtCampusTT", @required = true })
                                        </div>
                                    </div>

                                </div>

                                    <div class="row ">

                                      
                                        <div class="col-md-4">

                                            <div class="col-md-5 form-group">
                                                <input id="btnTeachertimetable" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />
                                            </div>
                                        </div>

                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*jqGrid_wrapper as Teachertimetable_wrapper
    table_list_2  as Teachertimetable_grid
    pager_list_2 as Teachertimetable_pager
    btnviewresult as btnTeachertimetable
    quiz_div as Teachertimetable_div*@

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " id="Teachertimetable_div" style="display:none;">
                <div id="dvborder">
                    <div class="ibox-content">
                        <div class="Teachertimetable_wrapper">
                            <table id="Teachertimetable_grid"></table>
                            <div id="Teachertimetable_pager"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

@*}*@
</section>

