@model MvcSchoolWebApp.Models.Timesheetmodal
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <!-- Info boxes -->
    <div class="row">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div style="border: 1px solid #d2d6de;">

                    <div class="ibox-title ">
                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Time Management
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                    Time Sheet Report
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <form role="form" name="viewAttendanceTMRForm" id="viewAttendanceTMRForm">
                                <div class="row ">
                                    @{
                                        try
                                        {
                                            var list = HttpContext.Current.Session["User_Rights"] as List<MvcSchoolWebApp.Models.LoginModel>;
                                            if (list[0].earea.Trim() == "1000")
                                            {
                                                <div class="col-md-4">
                                                    <div class="col-md-5">
                                                        <label>Employee Name</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @Html.DropDownListFor(m => m.empid, Model.empname, "Employee", new { @class = "form-control m-b", @name = "txtEmpNameTMR", @id = "txtEmpNameTMR", @required = true })
                                                    </div>
                                                </div>
                                            }
                                        }
                                        catch (Exception)
                                        {

                                            string url = "/dashboard";
                                            Response.Write("<script type='text/javascript'>");
                                            Response.Write("window.location.href = '" + url + "'</script>");
                                            Response.Flush();
                                        }

                                    }
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Pick a Month</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.month, "Month", new { @Value = DateTime.Now.ToString("MMMM yyyy"), placeholder = "Month", @class = "date-month form-control m-b", @name = "ViewAttendaceDateTMR", @id = "ViewAttendaceDateTMR", @required = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <input id="veiwAttendanceTMR" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-default form-submitbtn" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " style="border: 1px solid #d2d6de; display:none;" id="attendanceViewTMR_div">
                <div class="ibox-content">
                    <div class="attendanceViewTMR_jqGrid">
                        <table id="attendanceViewTMR_table"></table>
                        <div id="pager_list_TMR"></div>
                    </div>
                    @*@using (Html.BeginForm("CreatePdf", "TM", FormMethod.Post))
                    {*@

                        @try
                        {
                            var list = HttpContext.Current.Session["User_Rights"] as List<MvcSchoolWebApp.Models.LoginModel>;
                            if (list[0].earea.Trim() == "1000")
                            {

                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <input id="btn_createreport" type="submit" class="btn btn-danger" name="name" value="Create Report" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        catch (Exception)
                        {

                            string url = "/dashboard";
                            Response.Write("<script type='text/javascript'>");
                            Response.Write("window.location.href = '" + url + "'</script>");
                            Response.Flush();
                        }

                        //}
                </div>
            </div>
        </div>
    </div>
</section>
